body {
    max-width: 500px;
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li {
font-size: 1.5em;
text-decoration: underline;
}
h1 {
    font-size: 3em;
}
img {
    width: 75%;
}
table {
    border: 3px solid white;
    border-collapse: collapse;
    text-align: center;
    width: 200%;
    margin-left: -250px;
}
th, td {
    border: 3px solid white;
}
a {
    font-size: 1.5em;
    color: red;
}